<div class="register">
  <h2 class="md-display-1">Register New User</h2>

  <form action="" method="post">
    <div class="error" ng-show="error">*All Fields are mandatory</div>
    <div class="form-group">
      <md-input-container>
        <label for="">Username</label>
        <input type="text" name="" id="" placeholder="Enter your username" ng-model="user.username">
      </md-input-container>
    </div>

    <div class="form-group">
      <md-input-container>
        <label for="">Email</label>
        <input type="email" name="" id="" placeholder="Enter your email" ng-model="user.email">
      </md-input-container>
    </div>

    <div class="form-group">
      <md-input-container>
        <label for="Password">Password</label>
        <input type="password" name="" id="" placeholder="Enter your password" ng-model="user.password">
      </md-input-container>
    </div>

    <md-button class="submitBtn md-raised" ng-click="register(user)">REGISTER</md-button>
  </form>
</div>
